*{
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 1.7rem 1.2rem;
  text-decoration: none;
  font-size: 1.2rem;
}

 
/* venue code page*/
.container img{
  width: 100%;
  position: absolute;
  z-index: -1;
}

#location{
  position: absolute;
  top: 9em;
  

  display: flex;
  flex-direction: column;

  padding: 5em 1.5em;
  margin-left: 2.6em;

  /* border: 1px solid purple;  */
  border-radius: 1em;
  background-color: white;
}
#location label{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.5em;
}
#venueList{
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: rgba(252, 252, 252, 0.95);
  font-weight: bold;
  margin-bottom: 0.5em; 
}
#vname {
  width: 100%;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  font-size: large; 
}

#btn{
  margin-top: 1em;
  width: 45%;
  border-radius: 0.5em;
  padding: 0.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#venueName{
  /* border: 1px solid red; */

  font-size: larger;
  font-weight: 550;
  color: orange;
  text-align: center;
   
  padding-top: 6em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 13.5em;
  height: 10em;
    
}
.timewise{
 /*  border: 1px solid blue; */
  width: 60%;
  margin: auto;
}
#date{
  color:rgb(25, 154, 235);
  text-align: center;
}
.timeSec{
  color: rgb(25, 154, 235);
  text-align: center;
}
#ms{
  color: red;
}
#ms .mil{
  color: rgb(25, 154, 235);
}
#vaxTime{
  color: white;
  padding-left: 1.2em;
  padding-top: 13.8em;
   
  
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html,body{
    font-size: 14px;
  }
   

}