*{
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 1.7rem 1.2rem;
  text-decoration: none;
  font-size: 1.2rem;
}

 
/* venue code page*/
.container img{
  width: 100%;
  position: absolute;
  z-index: -1;
}
#location{
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}
#venueName{
  font-size: larger;
  font-weight: 550;
  color: orange;
  text-align: center;
  padding-bottom: 16rem;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

#date{
  color:rgb(25, 154, 235);
  text-align: center;
}
.timeSec{
  color: rgb(25, 154, 235);
  text-align: center;
}
#ms{
  color: red;
}

#vaxTime{
  color: white;
  padding-left: 6.5rem;
  padding-top: 13rem;
  
  
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html,body{
    font-size: 14px;
  }
   

}